<section class="lead">
    <div class="carousel">
        {{#each lead}}
            <div class="carousel-item">
                {{#if video}}
                    <video controls>
                        <source src="{{video.src}}" type="{{video.type}}">
                    </video>
                {{else}}
                    <img src="https://cors-anywhere.herokuapp.com/{{image.src}}" alt="{{alt}}" width="{{image.width}}" height="{{image.height}}">

                {{/if}}
            </div>
        {{/each}}
    </div>
</section>